{% extends 'base.html.twig' %}

{% block title %}Création du questionnaire{% endblock %}

{% block body %}
<div class="border-blue-900 border-2 rounded-2xl px-16 py-12">
	<form>
		<div class="space-y-12">
			<div class="border-b border-white/10 pb-12">
				<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
					<div class="sm:col-span-3">
						<label for="first-name" class="block text-sm/6 font-medium text-white">First name</label>
						<div class="mt-2">
							<input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white  -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline  focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
						</div>
					</div>
					<div class="sm:col-span-3">
						<label for="last-name" class="block text-sm/6 font-medium text-white">Last name</label>
						<div class="mt-2">
							<input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white  -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline  focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
						</div>
					</div>
					<div class="sm:col-span-4">
						<label for="email" class="block text-sm/6 font-medium text-white">Email address</label>
						<div class="mt-2">
							<input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<button 
				type="submit" 
				class="rounded-4xl bg-blue-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-500"
			>
			Envoyer
			</button>
		</div>
	</form>
	</div>
{% endblock %}
